# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [377]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [380]:
pokemon = pd.read_csv('/Users/biruk/Documents/Ironhack/lab-two-sample-hyp-test/pokemon.csv', index_col = 'Name')

Let's start off by looking at the `head` function in the cell below.

In [383]:
pokemon.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [211]:
pokemon.shape

(800, 12)

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [214]:
# we have 65 of Legendary pokemons Vs 735 of Regular Pokemons.
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [235]:
# Non-Legendary Pokemon = False
# Legendary = True
pokemon.groupby('Legendary').agg({'Total': ['mean','std']})

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [263]:
from scipy.stats import ttest_ind

In [265]:
total_point = pokemon.copy()
total_point.head(2)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False

In [276]:
# TTEST
f0 = total_point.query('Legendary == False')['Total']
f1 = total_point.query('Legendary == True')['Total']

In [278]:
ttest_ind(f0, f1)

TtestResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52, df=798.0)

What do you conclude from this test? Write your conclusions below.

In [16]:
# Your conclusions here:
# ?

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [288]:
# Different types of pokemon and the count of each type
total_point['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [346]:
# Filtering out water Pokemon from None Water Pokemon
Water_type = total_point[total_point['Type 1'].str.contains('Water')]
Water_type.head(2)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False
Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False

In [348]:
# Filtering out None water Pokemon from Water Pokemon
Non_Water_type = total_point[total_point['Type 1'].str.contains('Water') == False]
Non_Water_type.head(2)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False

In [350]:
# The mean and standard deviation of water Pokemon.
Water_type.groupby('Type 1').agg({'Total': ['mean','std']}).sum()

Total  mean    430.455357
       std     113.188266
dtype: float64

In [432]:
Water_mean = Water_type.groupby('Type 1').agg({'Total': ['mean']})
Water_mean

             Total
              mean
Type 1
Water   430.455357

In [417]:
# The mean and standard deviation of None water Pokemon.
Non_Water_type.groupby('Type 1').agg({'Total': ['mean','std']}).sum()

Total  mean    7541.198944
       std     1995.913529
dtype: float64

In [446]:
None_water_mean = Non_Water_type.groupby('Type 1').agg({'Total': ['mean']}).sum()
None_water_mean

Total  mean    7541.198944
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [448]:

t_stat, p_value = stats.ttest_ind(Water_mean, None_water_mean, equal_var=True)
p_value

/Applications/anaconda/anaconda3/lib/python3.12/site-packages/scipy/stats/_stats_py.py:6951: RuntimeWarning: invalid value encountered in divide
  svar = ((n1 - 1) * v1 + (n2 - 1) * v2) / df

array([nan])

Write your conclusion below.

In [468]:
# Based on the mean value of Water type mean (430.455357) and all other None water type total mean (7541.198944),
# there is a huge gap of 7110.743587 in difference.
7541.198944 - 430.455357

7110.743587

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [470]:
from scipy.stats import ttest_rel

In [474]:
def_att = pokemon.copy()
def_att.head(3)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False

In [476]:
# cheacking if there is a significant difference between each Pokemon's defense and attack scores
t_stat, p_value = stats.ttest_rel(def_att["Attack"], def_att["Defense"])
p_value

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [28]:
# Based on our result, the P-value is smaller than 0.05 so in this case the null hypothesis "defense and attack scores are equal" will be rejected.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [478]:
# cheacking if there is a significant difference between the mean of special defense and the mean of special attack.
t_stat, p_value = stats.ttest_rel(def_att["Sp. Atk"], def_att["Sp. Def"])
p_value

0.3933685997548122

Describe the results of the test in the cell below.

In [32]:
# Based on our result, the P-value is less than 0.05 so in this case the null hypothesis "defense and attack scores are equal" will not be rejected.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [480]:
def_att.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [506]:
# we confirm that the results of the test are the same as each Pokemon's defense and attack scores.
def_att["diff"] = def_att["Defense"] - def_att["Attack"]
t_stat, p_value = stats.ttest_1samp(def_att["diff"],0)
p_value

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [36]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [38]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [40]:
# Your answer here: